# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/.env
/.env.*.php
/database/*.sqlite
/storage/debugbar
/storage/framework/*
/storage/logs/*.log

# NPM
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# IDE/editor specific
/.vscode
.idea
.DS_Store

# Composer
composer.phar

# Laravel Homestead
Homestead.yaml
Homestead.json
.vagrant
